<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <title>About Us</title>
  </head>
  <body>
    <div class="container text-center">
      <h1>About Us</h1>
      <p>
        Password Generator is created by
        <a href="mailto:hainn229@gmail.com">Peter</a>
      </p>
      <a href="{% url 'home' %}" class="btn btn-warning">Back to Home</a>
    </div>
  </body>
</html>
